# The releng team is by default the owner of everything.
*             @deeplearning4j/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @deeplearning4j/eclipsefdn-security
